/* App.css minimalis untuk Bento Grid */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Matikan text-align center bawaan Vite */
}

.text-brand-mint {
  color: #2dd4bf; /* Warna hijau mint andalan Anda */
}

.bg-brand-mint {
  background-color: #2dd4bf;
}
